form(action="/post/add", method="POST")
    label()="title: "
    br
    input(type="text" name="title")
    br
    label(for="body")="body: "
    br
    textarea#postbody(name="post_body", cols="125", rows="800")
    br 
    br
    input(type="submit", value="Submit" method="POST" action="/post/add")   

div
    ul
        each post in posts
            li
                h2=post.title
                p=post.body
